.button {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  
  .primary {
    background-color: var(--primary-color);
    color: var(--white-color);
  }
  
  .secondary {
    background-color:var(--secondary-color);
    color: var(--white-color);
  }
  
  .danger {
    background-color: var(--danger-color);
    color: var(--white-color);
  }
  
  :disabled {
    background-color: var(--grey-light);
    color: var(--grey-dark);
    cursor: not-allowed;
    opacity: 0.6;
  }
  
  .button:hover:not(:disabled) {
    opacity: 0.8;
  }
  

.iconLeft, .iconRight {
  display: inline-flex;
  align-items: center; 
}
  
  .iconLeft {
    padding-right: 10px;
  }
  
  .iconRight {
    padding-left: 10px;
  }