:root {
    --primary-color: #3498db;   
    --secondary-color: #2ecc71; 
    --danger-color: #e74c3c;   
    --white-color: #ffffff;
    --black-color: #000000;
    --grey-light--color: #f4f4f4;
    --grey-dark--color: #333333;
  }
  