* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;

  }
  
  body {
    font-family: 'Nunito', sans-serif;
    background-color: var(--white-color);
    color: var(--grey-dark-color);
    line-height: 1.6;
  }
  