/* Font Sizes */
.fs-12 {
    font-size: 12px;
  }
  
  .fs-14 {
    font-size: 14px;
  }
  
  .fs-16 {
    font-size: 16px;
  }
  
  .fs-18 {
    font-size: 18px;
  }
  
  .fs-20 {
    font-size: 20px;
  }
  
  .fs-24 {
    font-size: 24px;
  }
  
  /* Font Weights */
  .fw-400 {
    font-weight: 400;
  }
  
  .fw-500 {
    font-weight: 500;
  }
  
  .fw-600 {
    font-weight: 600;
  }
  
  .fw-700 {
    font-weight: 700;
  }
  
  .fw-800 {
    font-weight: 800;
  }
  
  .fw-900 {
    font-weight: 900;
  }
  






  
/* Max Lines */
.maxLine1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.maxLine2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.maxLine3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.maxLine4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.maxLine5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
